{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Page d'accueil!</h1>

    <a href="{{ path('sortie_creation',{'id': app.user.id})}}" class="">Créer une sortie</a>

{% endblock %}