<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Projet Sortir{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <header>
            {% include('inc/nav.html.twig') %}
        </header>
        <main class="container">
        {% block body %}
            <h1>Test</h1>
        {% endblock %}

        </main>

        <footer>

        </footer>
    </body>
</html>
