<nav class="navbar">
    <ul>
        <li><a href="{{ path('app_accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
    </ul>
</nav>