<nav class="navbar">
    <ul>
        <li><a href="{{ path('app_accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('app_admin_villes') }}" title="Villes">Villes</a></li>
        <li><a href="{{ path('app_admin_campus') }}" title="Campus">Campus</a></li>
    </ul>
</nav>