<nav class="navbar">
    <ul class="nav justify-content-end">
        <li class="nav-item ml-2">
            <a href="{{ path('app_accueil') }}" title="Accueil">Accueil</a>
        </li>
        <li class="nav-item ml-2">
            <a href="{{ path('participant_monProfil') }}" title="Mon Profil">Mon profil</a>
        </li>
        <li class="nav-item ml-2">
            <a href="{{ path('app_login') }}" title="Accueil">Se connecter</a>
        </li>
        <li class="nav-item ml-2">
            <a href="{{ path('app_logout') }}" title="Accueil">Se deconnecter</a>
        </li>
    </ul>
</nav>