  {% if app.user %}
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item mr-4">
                <a href="{{ path('sortir_app_accueil') }}" title="Accueil">Accueil</a>
            </li>
            <li class="nav-item mr-4">
                <a href="{{ path('participant_participant_monProfil', {'id':app.user.id})}}" title="Mon Profil">Mon profil</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
            </li>
        </ul>
    </nav>
  {% endif %}
